.cartContainer{
    display: grid;
    grid-row: auto;
    background-color: aliceblue;
    margin: 3rem 1rem;
    gap: 1rem;
}
.cartItem{
    display: flex;
    justify-content: center;  
    align-items: center;
    justify-content: center;
    gap:2rem;
    border: solid bisque;  
}
h4{
    margin-top: 1rem;
}
.btnF{
    width: 50%;
}
button{
    background-color: black;
    color:white;
    font-size: larger;
    margin: 1rem;
}